.App {
  text-align: center;
}

.control_panel{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.parameter_display{
  display: flex;
  flex-basis: 25%;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
}

.parameter_inner{
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}

.command_panel{
  display: flex;
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
}

.command_inner{
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}

.notifications_panel{
  display: flex;
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
}

.notifications_inner{
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}
