.App {
  height: 100vh;
  text-align: center;
  background-color: purple;
}

.title{
  margin: 0;
  padding: 10px;
  background-color: grey;
  color: white;
}

.control_panel{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.parameter_display{
  display: flex;
  flex-basis: 25%;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
}

.parameter_inner{
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: lightgrey;
}

.command_panel{
  display: flex;
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
}

.command_inner{
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: lightgrey;
}

.notifications_panel{
  display: flex;
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
}

.notifications_inner{
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: lightgrey;
}

.voltage_alert{
  color: red;
}

.current_alert{
  color: yellow;
}

.disconnected_alert{
  color: blue;
}
